{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content='ie=edge'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Django RF | Post detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    </head>
<body>
    <div class="form">
        <form method="POST" id='postForm'>
            {% csrf_token %}
            <input type="text" id="title" placeholder="title" />
            <input type="text" id="content" placeholder="content" />
            {% comment %} <input type="text" id="author" placeholder="author" /> {% endcomment %}
            <button id='submitButton' type="submit">Update</button>
        </form>
    </div>
    <a href="/">Go back</a>
    <div id="root"></div>
    <script src="{% static 'js/detail.js' %}"></script>

</body>
</html> 